



.jumbotron{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

#country-cover{
  background-image: url(../img/img_cover_home.jpg);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding-left: 10%;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.45);
  background-position: center;
}

.searchbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}




#content {
  width: 100%;
  margin: 0px auto;
  display: flex;
  wrap : wrap;
}

#column-left {
  background-color: #EBE9EA;
  border: 1px solid #D2D2D2;
  border-radius: 8px 8px 8px 8px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  overflow: hidden;
  width: 20%;
  height: auto;
  list-style-type: none;
  padding: 20px;
}

#column-left > div > ul{
      list-style: none;
}

#central {
  background-color: #EBE9EA;
  border: 1px solid #D2D2D2;
  border-radius: 8px 8px 8px 8px;
  float: right;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 80%;
}


.tour-container{
  display:flex;
  background-color: white;
  margin: 15px;
}
    .card-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 10px 0 10px;
      margin: 5px;
      width: 100%;
}


.button-tour{
  padding: 7px 10px;
  border: 1px solid #3eb368;
  background: #3eb368;
  color: #fff;
  line-height: 17px;
  border-radius: 3px;
  text-align: center;
}
