.profile-info{
  display: flex;
  justify-content: space-around;
}

.profile-inputs{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profile-container{
  height: 80vh;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container > div{
  width: 80%;
}

.profile-img{
  display: flex;
  flex-direction: column;
}

.profil_image > div{
  border-radius: 50%;
}
