.bienvenida{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.searchbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#destinos{
  text-align: center;
}

.destinos{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
  padding: 150px;
  background: #d9d8d6;
}

.footer{
  align-self: flex-end;
  background: #24272a;
  color: white;
}



*{
  margin: 0%;
  padding: 0%;
}

.nav{
  background: #24272a;
  overflow: hidden;
  width: 100%;
}
.nav .menu_main{
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.nav .menu_main>li{
  padding: 1em;
  width: 8%;
  float: left;
  justify-content: space-around;
}


.nav .menu_main>li>a{
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav .menu_main>li:hover, .nav .menu_main>li>.sub_menu>li>:hover{
  background: #ee1c3a;
  cursor: pointer;
}

.nav .menu_main>li>.sub_menu{
  position: absolute;
  background: #e4e3e1;
  width: 16%;
  list-style: none;
  margin-top: 1em;
  display: none;
}

.nav .menu_main>li:hover>.sub_menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav .menu_main>li>.sub_menu>li{
  padding: 1em;
}

.nav .menu_main>li>.sub_menu>li>a{
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
